.container {
  width: 100%;
}
.box.current {
  position: -webkit-sticky;
  /* bottom: calc(100% - 190px); */
  /* margin-top: -8px; */
  top: 50px;
  position: sticky;
  border: 5px solid red;
}
.box {
  height: 180px;
  border: 1px solid darkgrey;
  margin: 50px;
  background-color: white;
}
.empty-box {
  border:none;
  opacity: 0;
  height: 220px;
}
.filler-box {
  /* margin-top: -230px; */
  z-index: -1;
  border: 5px solid red;
}