.box.current {
  position: -webkit-sticky;
  bottom: calc(100% - 190px);
  position: sticky;
  border: 5px solid red;
}
.box {
  width: 75%;
  height: 180px;
  border: 1px solid red;
  margin: 50px;
  background-color: white;
}
.empty-box {
  border:none;
  opacity: 0;
  height: 220px;
}
.filler-box {
  margin-top: -230px;
  border: none;
  background-color: orange;
  z-index: -1;
}